<div style="padding: 13px;">

    <mat-card-title>Ejercicio 2 - </mat-card-title>
    <mat-card-content>
        <h3>A resolver:</h3>
        <p>Agregar en el menú toolbar una nueva función ("Alta Farmacias") para agregar nuevas farmacias utilizando el modelo de datos del ejercicio 1
        </p>
        <p>
            Farmacia:
                id: Long;
                nombre: String;
                activo: Boolean;
                id_cadena: Long;
        </p>

        <p>
            El formulario debe cumplir lo siguiente:
                - nombre obligatorio
                - activo por defecto desactivado
                - combo de cadenas
        </p>

        <p>
            El endpoint de cadenas se encuentra con localhost:3000/cadenas
        </p>

    </mat-card-content>