<div style="padding: 13px;">

    <mat-card-title>Ejercicio 1 - {{api.status}}</mat-card-title>
    <mat-card-content>
        <h3>A resolver:</h3>
        <p>Agregar en el menú toolbar una nueva función ("Ver Farmacias Farmacity") para poder listar las farmacias activas de la cadena FARMACITY.
            Farmacity es la cadena 13
        </p>

        <p>
            Desde el backend nos entregan la siguiente clase Farmacia, que contiene tiene los siguientes datos
        </p>
        <p>
            Farmacia:
                id: Long;
                nombre: String;
                activo: Boolean;
                id_cadena: Long;
        </p>
        <p> El servicio está disponible en localhost:3000/farmacias (disponible en environments)</p>
        <p> Info de uso de listas https://material.angular.io/components/list/overview </p>
        <p> (Plus) utilizar tablas https://material.angular.io/components/table/overview </p>

    </mat-card-content>